[Unit]
Description=Domomo ble
After=network.target

[Service]
ExecStart=/home/gaara092/Documents/domomo_running/Domomo /home/gaara092/Documents/domomo_running/home_definition.json
Restart=always
User=gaara092

[Install]
WantedBy=multi-user.target